#cube {
    transform: rotateX(-20deg) rotateY(-10deg);
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    animation: cuberotate 5s linear infinite;
}

#cube:hover {
    transform: scale(.9);
}

#global2 {
    perspective: 500px;
    width: 200px;
}

.face {
    transition: all 1s;
    border: 1px solid #3838f3;
    font-size: 5rem;
    color: #3838f3;
    background: rgba(255, 255, 255, 0.00)!important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    position: absolute;
}

.face--front {
    background: red;
    transform: translateZ(100px);
}

.face--back {
    background: black;
    transform: rotateY(180deg) translateZ(100px);
}

.face--left {
    background: violet;
    transform: rotateY(-90deg) translateZ(100px);
}

.face--right {
    background: blue;
    transform: rotateY(90deg) translateZ(100px);
}

.face--top {
    background: yellow;
    transform: rotateX(90deg) translateZ(100px);
}

.face--bottom {
    background: green;
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes cuberotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}