@font-face {
    font-family: 'lemonmilk-light';
    src: url('../assets/fonts/LEMONMILK-Light.otf');
}

@font-face {
    font-family: 'montserrat';
    src: url('../assets/fonts/Montserrat-ExtraLight.ttf');
}

h1 {
    font-family: 'lemonmilk-light';
}

#header div {
    width: 90%;
}

#header {
    font-family: 'montserrat';
    font-size: .9rem;
    border-bottom: 1px solid var(--white-color);
    height: 80px;
    color: var(--text-color);
}

section {
    max-width: 250px;
    min-width: 230px;
}