@font-face {
    font-family: 'lemonmilk-light';
    src: url('../assets/fonts/LEMONMILK-Light.otf');
}

@font-face {
    font-family: 'montserrat';
    src: url('../assets/fonts/Montserrat-ExtraLight.ttf');
}

#main,
main {
    width: 100%;
}