#global {
    height: 170px;
    width: 250px;
}

@media (max-width:768px) {
    #main2escopo {
        justify-content: center;
        height: 500px
    }
    #laptop {
        width: 267px;
        margin-top: 50px;
    }
    #main2 {
        height: 740px;
    }
}