* {
    --primary-color: #4717F6;
    --background-color: rgb(0, 0, 0);
    --text-color: rgb(215, 215, 215);
    --white-color: rgba(108, 108, 108, 0.532);
}

body {
    background: url('./assets/background.jpg');
    backdrop-filter: blur( 30px);
    background-repeat: no-repeat;
}